@model ProjetoEmTresCamadas.Pizzaria.Mvc.Models.PizzasViewModel

@{
    ViewData["Title"] = "Menu de Pizzas";
}
<style>
    .custom-image {
        width: 196px;
        height: 196px;
    }
</style>

<div class="container mt-4">
    <h2>Menu de Pizzas</h2>

    <div class="row">
        @foreach (var pizza in Model.Pizzas)
        {
            <div class="col-md-4 mb-4">
                @Html.Partial("PizzaCard", pizza) 
            </div>
        }
    </div>
</div>



@section scripts {
    <script>
        function adicionarAoCarrinho(pizzaId) {
            var quantidade = $('#' + pizzaId).val();

            $.post('/Carrinho/AdicionarAoCarrinho', { id: pizzaId, quantidade: quantidade })
                .done(function (data) {
                    alert('Pizza adicionada ao carrinho com sucesso!');
                })
                .fail(function () {
                    alert('Erro ao adicionar a pizza ao carrinho.');
                });
        }
    </script>
}