@model ProjetoEmTresCamadas.Pizzaria.Mvc.Models.PizzasViewModel

@{
    ViewData["Title"] = "Menu de Pizzas";
}
<style>
    .custom-image {
        width: 196px;
        height: 196px;
    }
</style>

<div class="container mt-4">
    <h2>Menu de Pizzas</h2>

    <div class="row">
        @foreach (var pizza in Model.Pizzas)
        {
            <div class="col-md-4 mb-4">
                <partial name="PizzaCard" model="pizza" />
            </div>
        }
    </div>
</div>



@section scripts {

    <script>
        function adicionarAoCarrinho(pizzaId) {
            $.post('/Carrinho/AdicionarAoCarrinho', { pizzaId: pizzaId })
                .done(function (data) {
                    alert('Pizza adicionada ao carrinho com sucesso!');
                    var totalItens = parseInt($('#totalItens').text()) + 1;
                    $('#totalItens').text(totalItens);
                })
                .fail(function () {
                    alert('Erro ao adicionar a pizza ao carrinho.');
                });
        }
    </script>
}