<!-- Side menu -->
<div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Menu</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Index">🍕 Pizzas</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Clientes">👥 Clientes</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Pedidos" asp-action="Index">📦 Pedidos</a>
    </div>
</div>
