@{
    ViewData["Title"] = "Login";
}
@model Login

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">🚀 Login</h4>
                </div>
                <div class="card-body">

                    <form asp-controller="Login" asp-action="Index" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" required value="@Model.email">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha:</label>
                            <input type="password" class="form-control" id="password" name="password" required value="@Model.password">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                    <form asp-controller="Login" asp-action="Create" method="get">
                        <button type="submit" class="btn btn-secondary btn-block mt-3">Criar Novo Usuário</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>